*{
    padding: 0;
}
.banner{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;    
    align-items: center;
    justify-content: center;
    height: 90px;   
    width: 100%;
    position: sticky;
}

.softwarename{    
    flex:0.4;
}

.companyname{    
    flex:0.7;
}



.body{
    display: flex;
    background-image: url('../images/shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;        
}
.body-container{
   
}
.sidemenu{    
    flex:0.2;    
}
.mainbody{    
    flex: 0.8;
}
.sidemenu_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidemenu_container > div{
    background-color: whitesmoke;
}
.card_padding{   
    align-items: center;
    width:90%;
    height:100px;     
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.card_padding:nth-child(odd):hover{
    background-color: indigo;    
}


.card_padding:nth-child(even):hover{
    background-color: purple;
}
.card_padding:hover > h5{
    color: white;
    font-size: 25px;    
}

.filterform{
    display: flex;
    flex-direction: row;    
}

